.linea{
 	background-color: #0B0B61;
 	width: 100px;
 	height: 5px;
 	top:70px;
 }
.nombre	{
		position: absolute;
		color: white;
		}

.foto	{
		position: absolute;
		}

.bot{
	bottom: 390px;
	}

.fotos2 {
		left: 225px;
		}

.fotos3 {
		left: 442px;
		}

.topp 	{
		top:320px;
		}

.fotos5 {
		left: 225px;
		}

.fotos6 {
		left: 442px;
		}




/* Inserta tu código aqui */